@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;
    --green: #4B9200;
    --orang: #F9804B;
    --orang-grad: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    --yellow: #FFEE2E;
    --orange-grad: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --pink-gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --rad: #D31414;
    --black-blue: #333B41;
    --gray: #767474;
    --gray-smoky: #ABABAB;
    --light-grey: #F1F3F2;
    --frosted-glass-white: rgba(253, 253, 255, 0.52);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    background: var(--white);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

/* Header */
.navbar {
    background-color: var(--black);
    position: absolute;
    width: 100%;
}

.navbar-container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-list-link {
    margin-right: 58px;
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    line-height: 140%;
    font-size: 1rem;
}

.navbar-list-link-active {
    color: var(--orang);
}

.navbar-list-link:hover {
    color: var(--orang);
}

.credentials-text {
    margin-right: 0;
}

/* Logo */
.logo {
    position: relative;
    border-radius: 2px;
    border: 1px solid var(--white);
    width: 82px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 63px;
}

.logo-text {
    position: relative;
    color: var(--white);
    font-size: 1.188rem;
    line-height: 23px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    width: 72.49px;
    height: 44.91px;
    z-index: 2;
}

#logo-bamboo-icon {
    position: absolute;
    color: var(--white);
    left: 9.23px;
    top: 22.64px;
    z-index: 1;
}

/* Watch your favourite animal section */
#watch-animal-online {
    height: 780px;
    width: 100%;
    background-image: url(../../assets/images/Giant\ Panda.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.orange-circle {
    position: absolute;
    width: 465px;
    height: 465px;
    background: var(--orang-grad);
    border-radius: 50%;
    left: calc(50% - 465px/2 + 239.5px);
    top: 92px; 
}

.watch-animal-online-header {
    position: absolute;
    width: 500.31px;
    height: 400px;
    left: calc(50% - 500.31px/2 + 330.15px);
    top: 166px;
    font-style: normal;
    font-weight: 700;
    font-size: 6.656rem;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
}

.yellow-text {
    color: var(--yellow) ;
}

.round-btn {
    cursor: pointer;
    position: absolute;
    background: var(--orang-grad);
    border: none;
    width: 298px;
    height: 54px;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 140%;
    border-radius: 25px;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
}

.watch-btn {
    left: calc(50% - 298px/2 + 332px);
    top: 626px;
}

.round-btn:hover {
    background: var(--orang);
}

.round-btn:active {
    background: var(--green);
}

.round-btn:disabled {
    background: var(--gray);
    cursor: not-allowed;
}
.round-btn[tabindex]:focus {
    background: var(--green);
    outline: none;
}       

/* Hero section */
.hero-container {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
    margin-bottom: 180px;
}

.bamboo-cap-img {
    width: 609px;
    height: 403px;
}

.hero-right {
    margin-left: 87px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-header-h2 {
    font-weight: 400;
    font-size: 3rem;
    line-height: 120%;
    color: var(--black-blue);
}

.hero-header-h3 {
    font-weight: 400;
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 120%;
    color: var(--black-blue);
}

.text-small {
    font-size: 1rem;
    line-height: 130%;
    color: var(--black-blue);
    font-weight: 400;
}

.flower-foto {
    position: absolute;
    right: -110px;
    top: 792px;   
}

/* Animasls grid section */
.animals-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 20px;
    margin-bottom: 80px;
}

.card-item {
    border: 1px solid var(--orang);
    border-radius: 5px;
}

.card-img {
    border-radius: 4px 4px 0 0; 
}

.animals-grid-btn {
    display: flex;
    justify-content: center;
    height: 54px;
    margin-bottom: 100px;
}

.card-item-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-item-title {
    padding: 8px 12px 14px 16px;
}

.animal-name {
    text-transform: uppercase;
    color: var(--black);
    font-size: 1rem;
    line-height: 140%;
    font-weight: 500;
}

.animal-subtitle {
    font-weight: 300;
    line-height: 120%;
    font-size: 15px;
}

.card-item-icon {
    padding-top: 2px;
    padding-right: 12px;
}

.palm-foto {
    position: absolute;
    left: -588px;
    top: 2159px;
}

.strelitzia {
    position: absolute;
    right: 0;
    top: 2344px;
}

.buttons-container {
    position: relative;
}

.circle-btn {
    width: 62px;
    height: 62px;
    background: var(--orang-grad);
    border-radius: 50%;
}

.next {
    position: absolute;
    top: 40.5%;
    right: -84px;
}

.prev {
    position: absolute;
    top: 40.5%;
    left: -84px;
}

.arrow-position {
    position: absolute;
    top: 25px;
    left: 22px;
}


